.board{
    width: 80px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.board:hover{
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
    border-radius: 10px;
}

.board:active{
    position:relative;
	top:1px;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}


hr{
    width: 270px;
    position: absolute;
 
}

.hr-dia{
    width: 407px;

}

.wincon1{
    transform: rotate(0deg);
    position: relative;
    top: -15px;
}

.wincon2{
    position: relative;
    top: 115px;
}
.wincon3{
    position: relative;
    top: 245px;
}

.wincon7{
    transform: rotate(50deg);
    position: relative;
    top: -27px;
    right: -27px;

}

.wincon4{
   transform:rotate(90deg);
    position: relative;
    top: -11px;
    left: 59px;

}

.wincon5{
    transform: rotate(90deg);
    position: relative;
    top: -13px;
    left: 149px;
}

.wincon6{
    rotate: 90deg;
    position: relative;
    top: -9px;
    left: 240px;
}

.wincon8{
    position: relative;
     top: -24px;
    left: 287px;
transform: rotate(130deg);
}

body,html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #7C96AB; 
 background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); 
}
* {
    box-sizing: border-box;
}



.homepage-div{
    text-align: center;
    background-color: #245953;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    height: 550px;
    padding-top: 30px;
    border-radius: 10px;
    position: relative;
    top: 200px;
    width: 80vw;
    margin: auto;
}

.create-room{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joins-room{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-div{
    text-align: center;
    position: relative;
    top: 10px;
}

.divforgamecode{
    
    background-color: slategrey;
    width: 80vw;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;

}

.sendcode{
    background-color: black;
    border-radius: 10px;
    padding: 4px;
}

.wintitle{
    background-color: #4c9ced;
    width: 90vw;
    margin: auto;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
    margin-top: 10px;
}

.grid{
    background-color: slategrey;
    width: 90vw !important;
    margin: auto !important;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
  
}

.css-10mzr36-MuiGrid-root>.MuiGrid-item{
    padding: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.hrfield{
    width: 250px;
}

.rightline{
    transform: rotate(90deg);
    margin-top: 252px;
    margin-left: 102px;
    width: 350px;
}

.leftline{
    transform: rotate(90deg);
    margin-top: 252px;
    margin-left: -79px;
    width: 350px;
}

.startandreset{
    background-color: slategrey;
    width: 288px;
    margin: auto;
    padding-bottom: 10px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

.btnstart  {
    box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

.btnstart:hover{
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

.btnstart:active{
    position:relative;
	top:1px;  
}


@media screen and (min-width: 768px) {

.divforgamecode{
    width: 300px;
}

.grid{
    width: 500px !important;
}


.startandreset {
    background-color: slategrey;
    width: 500px;
}

.wintitle{
    background-color: #4c9ced;
    width: 500px;
    margin: auto;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
}

}